
/* Overall styling for the section containing the cards */
.cards {
  padding: 20px; /* Increase padding for better spacing */
  background: #f7f7f7;
  margin-top: -100px;
}

.project-description {
  max-width: 800px; /* Limit the width of the container to make it more readable */
  margin: 0 auto; /* Center the container on the page */
  text-align: justify;
  padding: 20px; /* Add some padding around the content */
  font-family: 'Helvetica', Arial, sans-serif; /* Use a font similar to Apple's website */
  font-size: 28px; /* Set the default font size */
}

.split-paragraph {
  margin-top: 50px; /* Add some margin to the top of the paragraph */
  font-size: 1.5rem; /* Set the font size for the paragraph */
  line-height: 1.6; /* Set the line height for better readability */
}

/* Styling for the section containing the objective content */
.objective {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.icon {
  width: 40px;
  height: 40px;
  
}

/* Center-align headings in the objective section */
.cards h1 {
  font-size: 1.5rem;
    color: var(--clr-primary-5);
    text-align: center;
    font-weight: 700;
    margin-top: 3rem;

}

.how-it-works {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.project-description h1 {
  font-size: 1.5rem;
    color: var(--clr-primary-5);
    text-align: center;
    font-weight: 700;
    margin-bottom: 3rem;
}

.text-objective p {
  text-align: center;
  justify-content: center;
  margin-top: 10px; /* Reduce the margin for better spacing */
  font-size: 1.5rem;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444; /* Use a slightly darker color for better readability */
}

img {
  width: 50%;
  height: auto;
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.5s ease-in-out; /* Add easing for a smoother transition */
  border-radius: 5px; /* Add rounded corners for a modern look */
}

.objective-img:hover {
  transform: scale(1.1);
}

  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .cards__item__text {
      font-size: 16px;
    }
    .text-objective p {
      font-size: 1rem;
      text-align: center;
    }
    
    .objective {
      margin-top: 20px;
    }
  }